.cssLinkMenu{
  background-color: darkslategrey;
  color: antiquewhite;
  height: 20px;
  text-decoration: none;
  display: inline-block;
  float: left;
  margin: 10px;
  padding: 10px;
}

.cssMenuBar{
  background-color: beige;
}

.btnMain{
  background-color: tomato;
  color: white;
  padding: 15px;
}


