*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Sem02/apptrabajo/build/
/Sem02/PromedioJAVAWEB/dist/
/Sem02/AprendiendoSpring/nbproject/private/
/Sem02/AprendiendoSpring/build/
/Sem03/AppPromSpringMVC/nbproject/private/
/Sem03/AppPromSpringMVC/build/
/Sem03/AppPromSpringMVC/dist/
/Sem04/AppPractica01Tafur/nbproject/private/
/Sem04/AppPractica01Tafur/build/
/Sem04/AppPractica01Tafur/dist/
/Sem04/AppPractica01Tafur - copia/build/
/Sem04/AppPractica01Tafur - copia/dist/
/Sem04/AppPractica01Tafur - copia/nbproject/private/
/Sem04/AppPractica01Tafur2/build/
/Sem04/AppPractica01Tafur2/dist/
/Sem04/AppPractica01Tafur2/nbproject/private/
/Sem04/AppPractica01Tafur2 - copia/build/
/Sem04/AppPractica01Tafur2 - copia/nbproject/private/
/Sem04/AppPractica01Tafur3/build/
/Sem04/AppPractica01Tafur3/nbproject/private/
/Sem05/DemoSession01/nbproject/private/
/Sem05/DemoSession01/build/
/Sem07/TREA_02_JANCACHAGUA/PrestamoService/build/
/Sem07/TREA_02_JANCACHAGUA/PrestamoService/dist/
/Sem07/TREA_02_JANCACHAGUA/PrestamoWeb/build/
/Sem07/DemoSession02/build/
/Sem07/DemoSession02/nbproject/private/
/Sem07/Tarea02Spring/nbproject/private/
/Sem07/Tarea02Spring/build/
/Sem07/TREA_02_JANCACHAGUA/PrestamoService/nbproject/private/
/Sem07/Tarea02Spring/dist/
/Sem08/DemoAJAX/nbproject/private/
/Sem08/DemoAJAX/build/
/Sem08/DemoAJAX/dist/
/Sem08/DemoAJAX - copia/build/
/Sem08/DemoAJAX - copia/dist/
/Sem08/DemoAJAX - copia/nbproject/private/
/Sem08/DemoAJAX2/build/
/Sem08/DemoAJAX2/dist/
/Sem08/DemoAJAX2/nbproject/private/
/Sem10/EurekaSpring/nbproject/private/
/Sem10/EurekaSpring/build/
/Sem10/EurekaSpring/dist/
/Sem12/EurekaSpringParte2/build/
/Sem12/EurekaSpringParte2/nbproject/private/
/Sem11/EurekaSpringParte2/nbproject/private/
/Sem14/EurekaSpringParte4/build/
/Sem14/EurekaSpringParte4/nbproject/private/