*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Sem02/apptrabajo/build/
/Sem02/PromedioJAVAWEB/dist/
/Sem02/AprendiendoSpring/nbproject/private/
/Sem02/AprendiendoSpring/build/
/Sem03/AppPromSpringMVC/nbproject/private/
/Sem03/AppPromSpringMVC/build/
/Sem03/AppPromSpringMVC/dist/
/Sem04/AppPractica01Tafur/nbproject/private/
/Sem04/AppPractica01Tafur/build/
/Sem04/AppPractica01Tafur/dist/
/Sem04/AppPractica01Tafur - copia/build/
/Sem04/AppPractica01Tafur - copia/dist/
/Sem04/AppPractica01Tafur - copia/nbproject/private/
/Sem04/AppPractica01Tafur2/build/
/Sem04/AppPractica01Tafur2/dist/
/Sem04/AppPractica01Tafur2/nbproject/private/
/Sem04/AppPractica01Tafur2 - copia/build/
/Sem04/AppPractica01Tafur2 - copia/nbproject/private/
/Sem04/AppPractica01Tafur3/build/
/Sem04/AppPractica01Tafur3/nbproject/private/